* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	user-select: none;
	transition: 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.screen {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	transition: 0.25s linear;
}

.start,
.pause-screen {
	background: #00000080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.pause-screen {
	opacity: 0;
}

.screen.shown {
	z-index: 2;
	opacity: 1;
}

.game.screen {
	background: hsl(201, 45%, 18%);
	color: #fff;
}

.btn {
	padding: 20px;
	background-color: hsl(207, 90%, 54%);
	color: #fff;
	border-radius: 7px;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.15);
}

.btn:active {
	transform: scale(0.95);
}

.btn.err {
	animation: err 0.25s ease-in-out 0s infinite;
}

@keyframes err {
	0% {
		transform: translateX(5em) scale(0.95);
	}
	25% {
		transform: translateX(-5em) scale(0.95);
	}
	50% {
		transform: translateX(2em) scale(0.95);
	}
	75% {
		transform: translateX(-2em) scale(0.95);
	}
	100% {
		transform: translateX(0) scale(0.95);
	}
}

.difficulty {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}

.wrapper {
	height: 40%;
}

h1 {
	text-decoration: underline;
	color: #e9e9e9;
	text-align: center;
}

.dropdown {
	min-width: 15em;
	position: relative;
	margin: 2em;
}

.dropdown * {
	transition: 0.25s linear;
}

.select {
	background: hsl(206, 28%, 16%);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	border-radius: 0.5em;
	cursor: pointer;
}

.select:hover {
	background: hsl(208, 26%, 18%);
}

.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	transform: rotate(-180deg);
	transition: 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.caret.closed {
	transform: rotate(0deg);
}

.menu {
	list-style: none;
	padding: 1em 0.5em;
	background-color: hsl(207, 20%, 21%);
	border: 1px solid hsl(207, 90%, 54%);
	border-radius: 0.5em;
	box-shadow: 0 0.5em 1em #00000033;
	color: #cacaca;
	position: absolute;
	top: 3.5em;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	z-index: 1;
}

.menu.closed,
.menu li.closed {
	display: none;
}

.menu li {
	padding: 0.7em 0.3em;
	margin: 0.3em 0;
	border-radius: 0.5em;
	cursor: pointer;
}

.menu li:hover,
.menu .active {
	background: #58585865;
}

.detail {
	width: 100%;
	color: #fff;
}

.start .mines,
.dimensions {
	margin: 1.5em 0em;
}

.dimensions > div {
	display: inline-block;
}

.detail span.heading {
	margin-right: 1em;
}

.start .mines div {
	font-weight: 600;
	font-size: 18px;
	display: none;
	position: absolute;
	margin-top: 0.25em;
}

.error {
	color: #f44336;
}

.advice {
	color: #ffc107;
}

div.error.appear,
div.advice.appear {
	display: block;
}

input {
	background: none;
	outline: none;
	border: none;
	border-bottom: 1.5px solid #eaeaea;
	color: #fff;
	font-size: 25px;
	width: 85px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

/* input::after {
	content: "";
	position: relative;
	width: 100%;
	height: 2px;
	background: red;
} */

.info {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
	background-color: hsl(206, 28%, 16%);
}

.info .level {
	width: 60px;
	font-weight: 700;
}

.info .pause {
	cursor: pointer;
}

.info .mines-time {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 225px;
}

.mines-time div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 70px;
}

.mines-time .time {
	min-width: 85px;
}

.pause:active {
	transition: 0.1s linear;
	transform: scale(0.75);
}

.container {
	width: 100vw;
	height: calc(100% - 65px);
	padding: 30px;
	display: flex;
	align-items: center;
}

.container div {
	position: absolute;
	font-size: 91px;
	width: calc(100% - 60px);
	height: calc(100% - 125px);
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 500ms ease-out;
}

.container .sentence {
	text-align: center;
}

.opacity-0 {
	opacity: 0;
}

div.hide {
	display: none;
}

.container .cursor {
	display: inline-block;
	width: 20px;
	height: 65px;
	background-color: #eaeaea;
	border: 2px solid #ffffff;
	margin: 0 25px;
	animation: 0.6s ease-out 0s infinite alternate cursor-blinking;
}

@keyframes cursor-blinking {
	from {
		background-color: #eaeaea;
	}
	to {
		background-color: #00000000;
	}
}

canvas#canvas {
	transition: filter 0.5s ease-in-out;
}

.pause-info {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 0;
}

.timeIMG,
.flagIMG {
	position: absolute;
}

.resume.btn {
	z-index: 1;
}
